<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col">
      <label class="font-weight-bold">
        ALttP Sprite Injector
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <label class="btn btn-primary btn-file">
          Select Rom<input type="file" style="display: none;" (change)="onRomChange($event)"/>
        </label>
        <label>{{romFilename}}</label>
        <label class="text-danger">{{romError}}</label>
      </div>
      <div>
        <label class="btn btn-primary btn-file">
          Select Sprite<input type="file" style="display: none;" (change)="onSpriteChange($event)"/>
        </label>
        <label>{{spriteFilename}}</label>
        <label class="text-danger">{{spriteError}}</label>
      </div>
      <button type="button" class="btn btn-primary" (click)="onSaveRom()">Save Updated Rom</button><br>
    </div>
  </div>
</div>